<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Article Master Data Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .error-msg {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Article Master Data Management</h1>

    <form th:action="@{/save-article}" th:object="${article}" method="post">
        <input type="hidden" th:field="*{id}">

        <div class="mb-3 mt-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" id="name" type="text" th:field="*{name}"/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" id="description" th:field="*{description}"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Price</label>
            <input class="form-control" id="price" type="text" th:field="*{price}">
        </div>

        <input class="btn btn-success" type="submit" value="Save">

        <ul>
            <li th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error-msg"></li>
        </ul>
    </form>
</body>
</html>