<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Article Master Data Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Article Master Data Management</h1>

<a th:href="@{add-article}">
    <button class="btn btn-success">Add Article</button>
</a>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="article : ${articles}">
        <td th:text="${article.id}"></td>
        <td th:text="${article.name}"></td>
        <td th:text="${article.description}"></td>
        <td th:text="${article.price}"></td>
        <td>
            <form th:action="@{edit-article/{id}(id=${article.id})}">
                <input class="btn btn-warning" type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form th:action="@{remove-article/{id}(id=${article.id})}" method="post">
                <input class="btn btn-danger" type="submit" value="Remove">
            </form>
        </td>
    </tr>
</table>
</body>
</html>
